/* Особенности */

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--primary-text-color);

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }
}

.feature__item .feature__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
