/* Особенности */

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--primary-text-color);

  @media screen and (max-width: 1200px) {
    padding-bottom: 60px;
  }

  &__link {
    display: flex;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    @media screen and (min-width: 1200px) {
      margin: -15px;
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  &__item {
    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  }

  &__item {
    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
      margin: 15px;
    }
  }
}

.feature__item .feature__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
