.header .logo {
  margin-bottom: 0px;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  color: #2196f3;
}

.logo__studio--black {
  color: var(--primary-text-color);
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 10;

  background-color: var(--fon-color);
  border-bottom: 1px solid #ececec;

  &-logo {
    color: black;
  }

  &__item {
    margin-left: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  &__list {
    display: flex;
    margin-left: auto;
  }
}

.container.header__nav {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: 93px;

  &__list {
    display: flex;
  }

  &__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--current {
      color: var(--accent-color);

      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 4px;
        width: 100%;
        background: var(--accent-color);
        border-radius: 2px;
      }
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__item:not(:first-child) {
    margin-left: 50px;
  }
}

.header-icons {
  margin-right: 10px;
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-mail,
.header-link-tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-tel:hover .header-icons,
.header-link-tel:focus .header-icons {
  fill: var(--accent-color);
}

.header-link-tel:hover,
.header-link-tel:focus {
  color: var(--accent-color);
}

.header-link-mail:hover .header-icons,
.header-link-mail:focus .header-icons {
  fill: var(--accent-color);
}

.header-link-mail:hover,
.header-link-mail:focus {
  color: var(--accent-color);
}
