/* Герой */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-color: var(--back-color);
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;

  &-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--fon-color);
  }

  &-button {
    width: 200px;
    height: 50px;
    padding: 10px 32px;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    color: var(--fon-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
}
