.menu-button {
  display: inline-flex;
  margin: 10px 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and(min-width:767px) {
    display: none;
  }
}

.menu-icon {
  padding: 12px 8px;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
