/* Команда */

.team {
  background-color: var(--back-fon-color);
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }

  &__list {
    display: flex;
    margin-top: 50px;
    list-style: none;
  }

  &__item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__block {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--secondary-color);
  }
}

.team__icon-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.team__icon-svg {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--fon-color);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.team__icon-link:hover .team__icon-svg,
.team__icon-link:focus .team__icon-svg {
  fill: var(--fon-color);
}
